html {
    margin: 0;
}
body {
    text-align: center;
    margin: 0;
    
}
body, div
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#canvas-container{
    touch-action: none;
    display: flex;
    height: 100vh;
    
    margin-top: 500px;
    justify-content: space-around;
}

.sidebar {
    background-color: black;
    width: 100%;
}


canvas{
    transition: filter 50ms;
    aspect-ratio: 1/1;  
}


input, label {
    display: none;

}

.dot {
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

#pauseMenu {
   display: none;
   opacity: 0;
   
   font-family: 'Lugrasimo', cursive;
   background-color: rgba(0, 0, 0, 0.6); 
   transition: opacity 50ms;
}
#pauseMenu > #title {
   color: rgb(226, 226, 213);
   font-size: 2.75rem; 
}

#pauseMenu.active {
    display: inline-block;
    opacity: 1;
    text-align: center;
}

.blur{
    filter: blur(0.5rem);
}

.disabled {
    display: none;
}

.volume {
    width: 80px;
    margin: 0 auto;
}

