body {
    text-align: center;
}


canvas {
    position: absolute;
    border: 3px solid black;
    width: 1000px;
    height: 750px;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%);
    
}

